.add-vehicle-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-medium);
}

.form-control,
.form-select {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--grey-medium);
  /* background-color: var(--grey); */
}

.image-preview-img {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: var(--radius);
}

.discrete-description {
  font-size: 1rem;
  color: var(--grey-dark);
  text-align: center;
  margin-top: 1.5rem;
}

.charging-type-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.charging-type-button {
  border: 2px solid var(--grey-medium);
  background: var(--white);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  color: var(--black);
  font-weight: var(--font-weight-medium);
}

.charging-type-button.selected {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius-big);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--blue-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary:focus {
  outline: 2px solid var(--blue-light);
}

.vehicle-image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: var(--grey);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-transparent {
  border: 0px;
  cursor: pointer;
  background-color: transparent;
}

/* copied from the hover state in plugInfos.css */
li.selected > button > figure.plug-infos {
  background-color: var(--primary);
}
