.btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  font-size: 1rem;
  background: none;
  gap: 0.8rem;
  margin: 4rem auto 0;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  text-transform: uppercase;
}

.btn-next svg {
  width: 40px;
}
