.vehicle-card-container {
  background-color: var(--primary);
  padding: 20px;
  border-radius: 8px;
  max-height: 100%;
  overflow-y: auto;
}

.vehicle-card-title {
  margin-top: 0;
  font-size: 28px;
  color: var(--white);
  text-align: center;
  font-weight: var(--font-weight-bold);
}

.vehicle-card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vehicle-card-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--white);
}

.vehicle-card-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.vehicle-card-image {
  width: 100%;
  height: 100%;
}

.vehicle-card-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.vehicle-card-details {
  color: var(--text-color);
  font-size: 15px;
  margin-left: 25px;
}

.vehicle-card-brand-model {
  font-weight: var(--font-weight-bold);
  margin-top: 10px;
}

.vehicle-card-charging-type {
  margin-top: 10px;
}

.vehicle-card-actions {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.btn-card-edit {
  border: 2px solid var(--black);
  color: var(--blue);
  background: transparent;
  padding: 5px;
  border-radius: 20px;
  margin: 5px;
  font-size: 15px;
}

.btn-card-edit:hover {
  background-color: var(--blue-dark);
  color: var(--white);
}

.btn-card-delete {
  border: none;
  color: var(--red);
  background: transparent;
  font-size: 15px;
}

.btn-card-delete:hover {
  background-color: var(--red);
  color: var(--white);
}
