.card-cta {
  position: relative;
  display: flex;
  padding: 1rem 1rem 1.6875rem 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: var(--radius-big);
  border: none;
  background-color: var(--grey);
}

.card-cta-light {
  background-color: var(--white);
}

/*************************/
/*********RESPONSIVE******/
/*************************/

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {
  .card-cta {
    gap: 2rem;
  }

  .card-cta .btn {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1024px) {
  .card-cta {
    width: 800px;
    margin: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .card-cta {
    gap: 3rem;
  }

  .card-cta .btn {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1600px) {
}
