.form-container {
  display: grid;
  grid-template: 15vh 1fr 15vh / 1fr;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  background-color: var(--white);
  gap: 1rem;
  margin: auto;
}
.form-select,
.form input,
.form textarea {
  background-color: var(--grey);
  border: none;
  width: 100%;
  border-radius: var(--radius);
  padding: 0.8rem 1rem;
  font-weight: var(--font-weight-medium);
  font-size: 1.1em;
  color: var(--primary);
}

.form .input-label {
  font-size: 0.8rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  text-align: left;
}
.form input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input[type="password"] {
  font-family: monospace;
}
.form input:disabled {
  color: var(--grey-dark);
}

.form input:focus {
  border-color: var(--primary);
  outline: solid;
  outline: none;
}

.feedback-good {
  color: var(--green);
}

.feedback-bad {
  color: var(--red);
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.form-input {
  width: 100%;
  padding: 8px;
  background-color: var(--grey);
  border-radius: 8px;
  border: none;
}

.icon-big {
  display: block;
  width: 150px;
  margin: auto;
}

.icon-big svg {
  width: 100%;
}

/*************************/
/*********RESPONSIVE******/
/*************************/

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {
  .form {
    max-width: 500px;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1600px) {
}
