#login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.feedback-good {
  color: green;
}

.feedback-bad {
  color: red;
}

.loginsignup-container {
  display: grid;
  grid-template: 15dvh 1fr 15dvh/1fr;
  align-items: center;
  justify-items: center;
  min-height: 100dvh;
}
