.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.feedback-good {
  color: green;
}

.feedback-bad {
  color: red;
}

.form-container {
  display: grid;
  grid-template: 15dvh 1fr 15dvh/1fr;
  align-items: center;
  justify-items: center;
  min-height: 100dvh;
}

.form-select,
.form {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: none;
}

.form:focus {
  border-color: #007bff;
  /* outline: solid; */
  outline: none;
}

.form[type="password"] {
  font-family: monospace;
}

.btn-form {
  cursor: pointer;
}
