@import url("https: //fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/**
 * Smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------Variable collection--------*/
:root {
  /* Mode 1 */
  /* colors */
  --white: #ffffff;
  --green: #3ad07f;
  --grey: #d9d9d9;
  --grey-dark: #595959;
  --black: #000000;
  --primary: #2196f3;
  --red: #a00000;
  /* numbers */
  --radius: 0.75rem;
  --radius-big: 1.6rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/*-----------------------------------*/

html {
  font-size: 18px;
}

body,
.btn,
.btn-next .libelle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
body {
  font-weight: var(--font-weight-normal);
}
.btn,
.btn-next .libelle {
  font-weight: var(--font-weight-medium);
}

h1,
h2,
h3,
strong {
  font-weight: var(--font-weight-bold);
}

h1,
h2,
h3,
h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.main-title {
  width: 75%;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.title-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  align-items: center;
  text-align: center;
  line-height: 1;
}

.title-icon svg {
  display: block;
  width: 1.5em;
  height: 1.5em;
}

/*------------------------*/
/*---------BACKGROUND COLOR--------*/
/*------------------------*/
.bg-primary {
  background: var(--primary);
}

.bg-grey {
  background: var(--grey);
}

/*------------------------*/
/*---------BUTTONS--------*/
/*------------------------*/
.btn {
  display: inline-flex;
  padding: 0.3rem 1.4rem;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  text-transform: uppercase;
  border-radius: var(--radius-big);
  text-decoration: none;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.btn svg {
  display: block;
  width: 1.5em;
  height: 1.5em;
}

/*-------STYLE BTN----------*/
.btn-default {
  background: var(--primary);
  color: var(--white);
}

.btn-default svg {
  fill: var(--black);
}

.btn-default:active {
  color: var(--black);
}

.btn-contour {
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
}
.btn:disabled,
.btn[disabled],
.btn-disable,
.btn:disabled:hover,
.btn[disabled]:hover,
.btn-disable:hover {
  background: var(--grey);
  border: none;
  color: var(--grey-dark);
}

.btn-cancel {
  border: none;
  color: var(--red);
}

.btn-grey {
  background: var(--grey);
}

.btn-black {
  background: var(--black);
  color: var(--white);
}

.btn-black svg {
  fill: var(--primary);
}

/*-------SPECIFICITIES------------*/
.btn-absolute {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
}

.btn-absolute span {
  white-space: nowrap;
}

.btn-small {
  font-size: 0.8rem;
}

/*----------------------------*/
/*---------ANIMATIONS--------*/
/*--------------------------*/
.bounce {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

/*------------------------*/
/*---------CARDS---------*/
/*-----------------------*/
.card {
  display: flex;
  width: 100%;
  padding: 1rem 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  border-radius: var(--radius-big);
  border: 1px solid var(--black);
  margin: 2rem 0;
}

.card .title-card {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1;
}

.card .infos-card {
  gap: 2rem;
}

.card .infos-card svg {
  width: 4rem;
}

.card header {
  width: 100%;
  gap: 1rem;
}

.card .rounded-img {
  border-radius: var(--radius);
  overflow: hidden;
}

.card-cta .rounded-img {
  width: 100%;
  height: 260px;
}

.card-station .rounded-img {
  border-radius: var(--radius);
  overflow: hidden;
  width: 33%;
  height: 150px;
}

.rounded-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card:hover {
  background: var(--black);
}

.card:hover svg path {
  fill: var(--white);
}

.card:hover > * {
  color: var(--white);
}

/*-----NEWS-------*/
.tag-buttons {
  font-size: 0.8rem;
}

/*-----ICONS-------*/
.icon-big svg {
  font-size: 1.4rem;
}

.rotate-icon svg {
  transform: rotate(-180deg);
}
