.section-home .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-home .title-icon svg {
  fill: var(--green);
}

.section-home.bg-primary .title-icon svg {
  fill: var(--white);
}
