/* Managing to make the panel pop in and out  */
main {
  height: 100vh;
  overflow: hidden;
}

/* 1000 is the minimum z-index compatible with being over the map */
.panel-modal {
  position: relative;
  width: 100%;
  z-index: 1001;
  transform: translateY(-100%);
  background-color: white;
  transition: transform 0.5s ease-in-out;
  padding-bottom: 32px;
}

.panel-modal.hidden {
  transform: translateY(100vh);
}

/* Remove the border form the original card */
.panel-modal > .card.card-station {
  border: 0;
  margin: 0px;
}

/* Button to close the panel */
.close-modal-button {
  /* styling */
  color: black;
  width: 32px;
  height: 32px;
  border: 0px;
  background-color: transparent;
  font-size: 32px;
  cursor: pointer;

  /* Positionning */
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 16px;
}
