.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  margin: auto;
  z-index: 1000;
  height: 100svh;
  width: 100vw;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;
  transition: all 0.3s ease-out;
  opacity: 0;
}

.modal-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: var(--radius-big);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.modal-open .modal {
  backdrop-filter: blur(5px);
  opacity: 1;
}

.modal-open .modal::before {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  content: "";
  background: var(--black);
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
}

.title-modal {
  position: absolute;
  top: 10px;
  margin-top: 0;
  font-size: 1.4rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

/*************************/
/*********RESPONSIVE******/
/*************************/

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {
  .modal-open .modal-content {
    width: 90%;
    min-height: 300px;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  .modal-open .modal-content {
    width: 90%;
    max-width: 500px;
    min-height: 300px;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1600px) {
}
