nav {
  width: 100vw;
  --nav-gap: 8px;
  display: flex;
  background-color: var(--primary-color);
  padding: var(--nav-gap);
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index: 2;

  & ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--nav-gap);
    color: var(--third-color);

    & button {
      height: 100%;
      margin: 0px;
      background-color: var(--primary-color);
      color: inherit;
      border: 0px;
      transition: 100ms;
      font-size: 1.25rem;
    }

    & button:hover {
      cursor: pointer;
      color: white;
    }
  }

  & ul:hover {
    color: grey;
  }
}
/* no need to display the burger menu on desktop */
.nav-menu-button {
  display: none;
}

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    width: unset;
    top: 8px;
    right: 8px;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 8px;
    padding: 16px;
    transition: 0.6s;
    gap: calc(var(--global-gap) / 3);

    & ul {
      flex-direction: column;
    }
  }

  .nav-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 0px;
    height: 42px;

    & div {
      transition-duration: 0.4s;
      width: 42px;
      height: 8px;
      border-radius: 4px;
      background-color: var(--third-color);
      transition-timing-function: ease-out;
    }

    & div.nav-menu-button-top-bar {
      transform: translate(0px, 16px) rotate(-45deg);
      transition-delay: 200ms;
    }
    & div.nav-menu-button-bottom-bar {
      transform: translate(0px, -16px) rotate(45deg);
      transition-delay: 200ms;
    }
    & div.nav-menu-button-middle-bar {
      width: 0px;
    }
  }

  .collapsed {
    mix-blend-mode: difference;
    transition: 0.6s;
    overflow: hidden;

    & .nav-menu-button {
      & div.nav-menu-button-top-bar,
      .nav-menu-button-middle-bar,
      .nav-menu-button-bottom-bar {
        transform: unset;
      }
      & div.nav-menu-button-middle-bar {
        width: 42px;
        transition-delay: 200ms;
      }
    }

    & ul {
      display: none;
    }
  }
}
