.cardNews {
  display: flex;
  width: 100%;
  padding: 1rem 1.25rem;
  flex-direction: column;
  gap: 1.25rem;
  align-items: flex-start;
  border: 1px solid var(--black);
}

.car-news {
  height: 198px;
}

.imgCard {
  display: flex;
  border-radius: var(--radius);
  margin-left: -1rem;
  height: 30px;
}

.titreActu {
  font-size: 18px;
}

.btn-contour {
  border: 1px solid var(--black);
  border-radius: 40%;
  width: 70px;
}

.pActu {
  margin-top: -0.5rem;
}

.buttonActu {
  height: 200px;
  z-index: 10000;
  padding-bottom: -120px;
}
