.profile-image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: var(--grey);
  overflow: hidden;
}

.profile-image-button {
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
}
.profile-image svg {
  width: 50%;
}
.profile-image img {
  object-fit: cover;
  width: 100%;
}
.profile-image.edit-profile-image {
  margin: auto;
}

.profile-image-button:after {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  content: "";
  background: url("../assets/icons/pen.svg") no-repeat center;
  background-size: 40px 40px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--primary);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.profile-image button:hover:after {
  top: 0px;
  right: 0px;
  background-size: 43px 43px;
  width: 68px;
  height: 68px;
  background-color: var(--primary);
}

.custom-profile-image img {
  object-fit: cover;
}
