/*************************/
/*********RESPONSIVE******/
/*************************/

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {
  main {
    padding-bottom: 3rem;
  }
  h1 {
    font-size: 1.6rem;
    margin: 0;
    line-height: 1;
    padding: 1rem 4rem 1rem 0rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .plug-infos svg {
    height: 100px;
  }
}

@media only screen and (min-width: 480px) {
  .plug-infos svg {
    height: 150px;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 1.6rem;
    padding: 1rem 4rem 1rem 0rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1600px) {
}
