.switch-wrapper {
  position: relative;
  margin: auto;
  max-width: 80%;
  background-color: #ccc;
  border-radius: var(--radius-big);
  box-sizing: border-box;
  border: 7px solid #ccc;
}

.switch-wrapper legend {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-wrapper .btn {
  white-space: nowrap;
}

.switch-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.switch-label {
  position: relative;
  width: 50%;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: difference;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.3s;
}

.yes-label {
  left: 0;
  opacity: 1;
}

.no-label {
  right: 0;
  opacity: 0.5;
}

.switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--black);
  transition: transform 0.3s;
  z-index: 1;
  padding: 0;
}

.container-input-label {
  position: relative;
}

.switch-input:checked + .switch-label {
  opacity: 1;
}

#switch-input-true:checked ~ .switch-slider {
  transform: translateX(0);
}

#switch-input-false:checked ~ .switch-slider {
  transform: translateX(100%);
}

#switch-input-true:checked ~ .no-label {
  opacity: 0.5;
}

#switch-input-false:checked ~ .yes-label {
  opacity: 0.5;
}
