.table-container {
  background-color: var(--grey);
  border-radius: var(--radius-big);
  width: 100%;
  margin-bottom: 1rem;
  caption-side: bottom;
  padding: 1rem 2rem;
}

.table {
  caption-side: bottom;
  border-collapse: collapse;
}

.table > tbody {
  vertical-align: inherit;
}

.table > thead tr {
  vertical-align: bottom;
  text-transform: uppercase;
}

.table > thead th {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid var(--grey-dark);
  text-align: left;
}

.table > tbody td {
  padding: 0.5rem;
}

.table-responsive {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
